// COLOR
$color-purple: #b55dde;
$color-light: #fdeee3;
$color-carrot: #e47537;
$color-green: #008234;

// TYPOGRAPHY
$font-family: "Onest", sans-serif;
$font-size: 24px;
$font-weight: 400;
$line-height: 1.4;


// CONTAINER
$container-width: 1300px;
$container-padding: 30px;