@import "../helpers/variables";

.advantages {
  position: relative;
  color: $color-light;

  &::after {
    content: "";
    position: absolute;
    width: 396px;
    height: 682px;
    top: -338px;
    right: 0;
    background-image: url("/img/dog.png");
    z-index: -1;
  }

  &__bg {
    background-color: $color-carrot;
    background-image: url("/img/pattern.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 300px 300px 0 0;
    padding: 100px 0;
  }

  &__title {
    font-size: 52px;
    line-height: 1.3;
    text-align: center;
    margin-bottom: 50px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }

  &__item {
    padding-top: 268px;
    background-size: 256px;
    background-position: top;
    background-repeat: no-repeat;

    &_assortment {
      background-image: url("/img/assortment.png");
    }

    &_quality {
      background-image: url("/img/quality.png");
    }

    &_personal {
      background-image: url("/img/personal.png");
    }
  }

  &__subtitle {
    width: min-content;
    font-size: 28px;
    text-align: center;
    margin: 0 auto 12px;
  }

  &__text {
    text-align: center;
  }

  &__count-box {
    position: absolute;
    top: -115px;
    left: 0;
    width: 306px;
    height: 306px;
    background-image: url("/img/star-green.svg");
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__count {
    font-size: 52px;
    font-weight: 700;
  }

  &__count-text {
    max-width: 122px;
    text-align: center;
    line-height: 1.2;
  }
}